.play__buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 250px;
    font-size: 25px;
}
.focusing{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    width: 50px;
    margin: 0 auto;
    height: 50px;
    border-radius: 50%;
}
.fa-play,
.fa-pause{
    color: white;
}