.play__buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 250px;
    font-size: 25px;
}
.focusing{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    width: 50px;
    margin: 0 auto;
    height: 50px;
    border-radius: 50%;
}
.fa-play,
.fa-pause{
    color: white;
}
.play__range {
    position: absolute;
    margin: 40px 0px;
    display: flex;
    justify-content: center;
    left: 50%;
    bottom: 55px;
    transform: translate(-50%, -50%);
}
.play__range input[type=range] {
    width: 220px;
    height: 8px;
    -webkit-appearance: none;
    background: rgba(0, 0, 0, .07);
    outline: none;    
}
.play__range input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background: #fff;
    cursor: pointer;
  }
.play__time p {
    position: absolute;
    font-size: 12px;
    color: var(--grey);
}
.play__time p:first-child {
    top: -40px;
    left: 10px;
}
.play__time p:last-child {
    top: -40px;
    right: 10px;
}